@charset "UTF-8";
#reset-button {
	background-color:#ff874e;
	color:#EFF7F0;
}


body {
  background-color: #EFF7F0;
  margin: 50px;
}

h1 {
  color: #8193FF;
}

a {
	color: #8193FF;
}

.main_block {
  text-align: center;
}
.card{
	background-color: #EFF7F0;
	border-color: #ff874e;
}
.card-body {
  color: #000000;
}

.btn {
	background-color: #8193FF;
	color: #EFF7F0;
}
